{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/login/login.css') }}">
{% endblock %}


{% block body %}
 <main>
        <section class="sectionlogin">
           <div class="login-image">
            <img src="../img/forgot.jpg" alt="img_login">
            </div> 

            <div class="loginform d-flex flex-column">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class='mb-3'>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        

        <button class="btn btn-dark">Send password reset email</button>
    {{ form_end(requestForm) }}
     </div>
        </section>
        

    </main>
{% endblock %}
