<!-- base.html.twig -->
{% set menus = menu_service.findAll %}
{% set options = option_service.findAll %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Blog-{% block title %}{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
    <link rel="stylesheet" href="{{asset('css/style2.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {# nav-dark #}
    {% if is_granted('ROLE_AUTHOR') %}
    <nav class="py-2 bg-dark border-bottom">
        <div class="container d-flex flex-wrap">
            <div class="dropdown">
                <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ options['blog_title']}}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminDashboard">
                    <li><a class="dropdown-item" href="{{ path('admin') }}">Tableau de bord</a></li>
                    {% if  is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-item" href="{{ea_gen_url('MenuCrudController')}}">Menus</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="dropdown">
                <a class="nav nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Ajouter
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdminAdd">
                    <li><a class="dropdown-item" href="{{ea_gen_url('ArticleCrudController', 'new')}}">Article</a></li>
                    <li><a class="dropdown-item" href="{{ea_gen_url('PageCrudController', 'new')}}">Page</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endif %}

    <div class="container-fluid bg-white py-3 z-3">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="{{ path('app_home') }}">{{ options['blog_title'] }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark text-decoration-none" href="{{ path('a_propos') }}">A propos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-dark text-decoration-none" href="{{ path('app_apprentissage') }}">Trouble Apprentissage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-dark text-decoration-none" href="{{ path('app_galerie') }}">Galerie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-dark text-decoration-none" href="{{ path('app_blog') }}">Blog</a>
                    </li>
                    {% for menu in menus %}
                        {% if menu.subMenus.count > 0 %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ menu.id }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ menu.name }}
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown{{ menu.id }}">
                                    {% for subMenu in menu.subMenus %}
                                        <li><a class="dropdown-item text-decoration-none" href="{{ subMenu|menuLink }}">{{ subMenu.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-dark text-decoration-none" href="{{ menu|menuLink }}">{{ menu.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if '1' == options['users_can_register'] %}
                            <li class="nav-item">
                                <a class="nav-link  text-dark text-decoration-none" href="{{ path('app_register') }}">S'inscrire</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link  text-dark text-decoration-none" href="{{ path('app_login') }}">Se connecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  text-dark" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.username | capitalize }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownUser">
                                <li><a class="dropdown-item  text-dark text-decoration-none " href="{{ path('app_profile', {username: app.user.username}) }}">Mon profil</a></li>
                                <li><a class="dropdown-item  text-dark text-decoration-none " href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link  text-dark text-decoration-none" href="{{ path('app_contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% block body %}{% endblock %}
    {% include 'partials/footer.html.twig' %}
</body>
</html>
