{% set article_show = path('article_show', { 'slug':article.slug })  %}



                        <div class="carditem">
                            <div class="top-carditem">
                        {% if article.featuredImage%}
                              <a href="{{article_show }}">
    <img src="/uploads/{{article.featuredImage.filename}}"  alt="{{article.featuredImage.filename}}"  loading='lazy' width="105" height="105" >
</a>
{%endif%}
                            </div>
                            <div class="bottom-carditem">
                                <div class="top-btn">{{article.title}}
                                    <p> {{article.featuredText ?: article.content|striptags|slice(0,130) ~ '...' }}</p>
                                    <a href="{{article_show }}" class="btn-sav">
                                        En savoir plus
                                    </a>
                                </div>

                </div>

</div>