{% extends 'base.html.twig' %}


{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/register/register.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
   <main>
        <section class="sectionregister">
           <div class="register-image">
            <img src="../img/register.jpg" alt="img_register">
            </div> 

            <div class="registerform d-flex flex-column">
        <h1>S'inscrire</h1>
        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {# champ + label #}
            {{ form_row(registrationForm.username) }}

              {{ form_row(registrationForm.email) }}
           
            {{ form_row(registrationForm.plainPassword) }}

           

            <button type="submit" class="btn btn-dark">Register</button>
        {{ form_end(registrationForm) }}
 </div>
        </section>
        

    </main>
{% endblock %}
